/* header */
.navbar {
  background-color: #f8e2cf;
  padding: 12px;
}
/* content */
body {
  background-color: #fdf6f0;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-width: 100px;
  height: auto;
}
.btn:hover {
  background-color: #fcd8d4;
  border-color: #fcd8d4;
  color: black;
}
.input-group-text:hover {
  background: #fcd8d4;
}
.input-group-text {
  border: 0px;
  border-left: 1px solid black;
}
#inputGroupFile02 {
  border: 0px;
  margin-left: unset;
}
/* footer */
#footer {
  background-color: #f8e2cf;
  margin-top: 50px;
  padding: 20px;
}
hr {
  background-color: white;
  opacity: 1;
}
.app_download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0px 8px 0px;
  font-size: x-small;
}
.footer-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.icons i {
  margin-right: 10px;
}

/* hmaburger menu */
#hamburgerMenu:nth-child(9),
:nth-child(10) {
  justify-content: flex-end;
}
