.main {
  height: 70vh;
}
.focus {
  width: 400px;
}
.btn {
  margin: 10px 0px;
}
.footer-content {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logoandapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logoandapp span {
  font-size: x-small;
}
.icons i {
  margin-right: 10px;
}
img {
  max-width: 100px;
  height: auto;
}
